# Python bytecode files
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
env/
output/

# IDE/editor config files
.vscode/
.idea/

# Environment variables
.env

# Log files
*.log

# Flask instance folder
instance/

# SQLite database
*.db
*.sqlite3
